{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <h1 class="heading">Meet The Creators</h1>
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container bottomContainer">
          <div class="ultimateImg">
            <img class="mainImg" src=" {% static 'assets/img/1.png' %}">
            
          </div>
          <div class="allText bottomText">
            <p class="text-blk headingText">
              Anirban Bandyopadhyay
            </p>
            <p class="text-blk subHeadingText">
              Full Stack developer and ML enthusiast
            </p>
            <p class="text-blk description">
              Imagined the Unique perspectives of EVA. Designed her the best posssible way and Created the Interface that allows you to have a chat with the best AI Partner you can ever have
            </p>
            <a class="explore" href="https://www.linkedin.com/in/anirban-link12/">
              LinkedIn
            </a>
          </div>
        </div>
        <div class="responsive-container-block Container bottomContainer middleBlock">
          <div class="ultimateImg">
            <img class="mainImg" src="{% static 'assets/img/1.png' %}">
            
          </div>
          <div class="allText bottomText">
            <p class="text-blk headingText">
              Arkaprabha Banerjee
            </p>
            <p class="text-blk subHeadingText">
              Machine Learning Engineer and Backend Developer
            </p>
            <p class="text-blk description">
              Created the Backend Servers which helps EVA run seemlessly. Trained the Machine Learning Datasets and Fine Tuned the Model to help EVA understand you emotions better and Reply Accordingly
            </p>
            <a class="explore" href="https://www.linkedin.com/in/arkaprabhabanerjee13/">
              LinkedIn
            </a>
          </div>
        </div>
        <div class="responsive-container-block Container bottomContainer">
          <div class="ultimateImg">
            <img class="mainImg" src="{% static 'assets/img/1.png' %}">
            
          </div>
          <div class="allText bottomText">
            <p class="text-blk headingText">
              Priyobrata Mondal
            </p>
            <p class="text-blk subHeadingText">
              Full Stack Developer and DL Enthusiast
            </p>
            <p class="text-blk description">
              Developed the Complete website and chat Interface of EVA so that the user can chat anytime, anywhere with ease. Made the pages completely responsive and user frinedly across devices

            </p>
            <a class="explore" href="https://www.linkedin.com/in/priyobrata-connects/">
              LinkedIn
            </a>
          </div>
        </div>


        
                
</body>
</html>