
/* General Styles */
html{
    font-size: 16px;
}
body {
display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
font-family: 'Roboto', sans-serif;
color: #fff;
background-image: url(../../static/assets/img/bg1.png);

margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}
.top{
position: relative;
top: 0;
}
.bg-video{
position: absolute;
object-position: center;
object-fit: cover;
height: 100%;
width: 100%;
z-index: -100;
}
strong{
    
    margin: 0.5rem auto 0 auto;
    text-align: center;
    line-height: 0%;
    
    .tagline{
        background: -webkit-linear-gradient(#afcfff, #dda9ff);
        -webkit-background-clip: text;
        font-weight: 900;
        font-size: 2.7rem;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0%;
    }
    p{
        font-size: 1.4rem;
        color: #fff;
        margin-top: -10px;

    }
}

.chat-container {
color: #fff;
width: 80%;
height: 70%;
/* max-width: 1000px; */
max-width: none;
background-color: rgb(255 255 255 / 15%);
backdrop-filter: blur(5px);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
overflow: hidden;
padding: 20px;
display: flex;
flex-direction: column;
}
.chat-box {
height: auto;
flex: 1;
overflow-y: auto;
scrollbar-width: none;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.message{
display: inline-block;
text-align: left;
width: max-content;
max-width: 30vw;
height: max-content;
border-radius: 5px;
margin: 10px;
text-wrap: wrap;
word-wrap: break-word;
padding: 15px;
border-radius: 10px;
}

.chat-entry {
display: flex;
flex-direction: row;
justify-items: center;
align-items: flex-start;
text-wrap: nowrap;
text-align: left;
width: max-content;
height: max-content;
padding: 10px;
border-radius: 5px;
color: #fff;
margin: 5px;
}

.user {

align-self: flex-end;
justify-self: right;
}
.usermsg{
background-color: rgb(45, 36, 103);
}

.bot {

align-self: flex-start;
justify-self: left;
}
.botmsg{
background-color: rgb(54, 53, 53);
}

.msg-pic{
height: 35px;
width: 35px;
border-radius: 50%;
object-fit: cover;
object-position: center;
}

#chat-form{
display: flex;
height: 11%;
max-width: 100%;
width: 100%;
margin: 0 auto;
padding: 10px 0;
align-items: center;
}
.btn-sub {
background-color: #ffffff00;
color: #fff;
width: 8.5em;
height: auto;
min-height: 3rem;
margin: 5px;
padding: 5px;
border: #b8b8b8 0 solid;
border-radius: 11px;
text-align: right;
transition: all 0.2s ease;
}
#user-query{
flex: 1;
padding: 5px;
padding-left: 20px;
font-size: 1rem;
margin: 5px 10px;
margin-left: 15px;
min-height: 3rem;
text-wrap: wrap;
overflow-y: auto;
overflow-wrap: normal;
align-items: center;

height: max-content;
border: 0;
border-radius: 10px;
background-color: #040035;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
color: #fff;
}

input[type="text"]:focus {
    outline: none; /* Ensure no outline on focus */
    border: none; /* Ensure no border on focus */
}


.text {
margin: 0 1.5em
}


.btn-sub:hover {
background-color: #040035;

cursor: pointer;
}

.btn-sub svg {
width: 1.6em;
margin: -0.2em 0.8em 1em;
position: absolute;
display: flex;
transition: all 0.6s ease;
}

.btn-sub:hover svg {
transform: translateX(5px);
}





.control-button{
height: max-content;
margin: 0 5px;
font-size: 0.8rem;
}





.controls{
display: flex;
align-items: center;
align-content: center;
justify-content: space-evenly;
width: max-content;
height: max-content;
}

.btn-res {
--color: #8043b9;
font-family: inherit;
display: inline-block;
width: 6em;
height: 3em;
align-items: center;
line-height: 2.5em;
overflow: hidden;
cursor: pointer;
margin: 20px;
font-size: 17px;
font-weight: 500;
z-index: 1;
color: var(--color);
border: 5px solid var(--color);
border-radius: 6px;
position: relative;
}
.btn-res::before {
position: absolute;
content: "";
background: var(--color);
width: 150px;
height: 200px;
z-index: -1;
border-radius: 50%;
}
.btn-res:hover {
color: white;
}

.btn-res:before {
top: 100%;
left: 100%;
transition: 0.3s all;
}

.btn-res:hover::before {
top: -30px;
left: -30px;
}

.btn-clr {
display: inline-block;
padding: 0.9rem 1.8rem;
font-size: 16px;
font-weight: 700;
color: white;
border: 3px solid #8043b9;
cursor: pointer;
position: relative;
background-color: transparent;
text-decoration: none;
overflow: hidden;
border: 6px;
z-index: 1;
font-family: inherit;
}

.btn-clr::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 3rem;
background-color: #8043b9;
transform: translateX(-100%);
transition: all .3s;
z-index: -1;
}

.btn-clr:hover::before {
transform: translateX(0);
}






/* MEDIA QUERIES */
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .chat-container {
        width:90%;
        padding: 10px;
        padding-bottom: 15px;
    }
    .message{
        max-width:60vw;
    }
    .chat-box{
        padding: 0;
    }
    .control-button{
        margin: 0 5px;
    }
    .tagline{
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0 1rem 1rem 1rem;
    }
    strong{
        p{
            font-size:1.2rem;
            line-height: 1.5rem;
            margin:0 1rem 1rem 1rem;
         }
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .chat-container {
        width:90%;
        padding: 10px;
        padding-bottom: 15px;
    }
    .message{
        max-width:60vw;
    }
    .chat-box{
        padding: 0;
    }
    .control-button{
        margin: 0 5px;
    }
    .tagline{
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0 1rem 1rem 1rem;
    }
    strong{
        p{
            font-size:1.2rem;
            line-height: 1.5rem;
            margin:0 1rem 1rem 1rem;
         }
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }